* {
    margin: 0;
    padding: 0;
    
}

h1 {
    font-family: cursive;
    text-align: center;
    font-weight: bolder;
    margin-top: 10px;
    font-size: 60px;
}

.container {
    margin:0 auto;
    margin-top: 20px;
    text-align: center;
    max-width: 90%;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.72);
    transition: 0.5s;
    border-radius: 15px;
    background-color: #FFFFFFEA ;
}

.input{
    max-width: 90%;
    height: 100px;
    margin-top: 20px;
    text-align: right;
    letter-spacing: 2px;
    font-size: 50px;
    border: 3px solid gray;
    box-sizing: border-box;
    border-radius: 15px;
}
  
.body{
  margin-top : 10px ;
}

.btn {
    padding: 25px;
    margin: 5px 2px ;
    border-radius: 50px;
    font-size: 25px;
    border:transparent;
    background-color: #1f2326;
    color: white;
}

.c {
background-color: #5f4bb6;
}
.d {
    padding: 25px 60px;
    border-radius: 20px;
    background-color: orange;
    color: white;
    border: transparent;
}

.btn:hover{
    background-color: gold;
}

.d:hover{
    background-color: pink;
}